#fastapi>=0.103.0
fastapi[standard]>=0.113.0,<0.114.0
uvicorn>=0.23.0
pydantic>=2.5.0       # Pour la validation des données
sqlalchemy>=2.0.0 
asyncpg>=0.27.0
psycopg2-binary>=2.9.0

# Ajoutez d'autres dépendances si nécessaire (ex: pydantic, sqlalchemy, etc.)